{% extends "base.html" %}
{% block title %}404-Learn More{% endblock %}
{% block content %}
<h1>404 Error: Bullcrap not found.</h1>
<hr>
<p>Da fuq you tryin' ta do!? Yer whatcha-ma-callit ain't here!</p>
<p>As long as I have your attention, You might as well read the "Learn More"</p>
<hr>
<h2>Vision</h2>
<p>Again, my name is Daniel Hilla. I created Branch because I wanted a user created story. Not just a collection of silly happenings and trolls. I wanted a place where people could work together to write a real, good story. My hope is that somewhere in the labyrinth of Branches, a story will emerge that is everything a good story should be. As far as I have seen, no other Choose Your Own Adventure book or game has done this right. I want Branch to be the first.</p>
<h2>How it Works</h2>
<p>Branch's target audience is people who like to read, and people who like to write. Any user can read through Branches and then input what he/she would like to do next. Once a user reaches the end of a series of Branches, he/she can once again input what he/she want to do next, but that time, they will instead write what happens his/her-self. Then the new branch is added to the collection for other users to read and experience.</p>
<h2>Rating</h2>
<p>Registered users of Branch can do a second thing to help Branch grow, in addition to writing new Branches. Registered users can rate other Branches based on their content. Each Branch has four criteria on which it can be rated. Entertainment, Writing, Immersiveness, and Intrest. Entertainment can be thought of as how humorous, enjoyable, or thrilling a Branch is. Writing is how good the writing quality of the Branch is, including aspects like style, imagery, and vocabulary. Immersiveness is how gripping, or involving a Branch is. When you feel like you are not just reading, but living a Branch, then it has high Immersiveness. Finally, Intrest is, of course, how interesting a Branch is. Intrest is a value somewhat opposed to Entertainment, for example, SpongeBob would be entertaining, but not very interesting, while The Dairy of Anne Frank would not be very entertaining at all, but could be extremely interesting.<p>
<p>To encourage better Branches, and fair rating of Branches, Registered users' votes have weight based on the quality of their own Branches. Users that make better Branches are more powerful judges of other people's Branches.</p>
<h2>Registered User Benefits</h2>
<p>Users that make an account get a couple perks such as being able to vote on branches, edit their branches, search branches and users, and view other users' profiles.</p>
<h2 style="color: red;">ADVENTURE AT YOUR OWN RISK</h2>
<p>Branch is primarily user created, user moderated, and user perpetuated. Some of Branch's "Branches" may contain content that is poorly written, grammatically incorrect, strange, offensive, obscene, or even unsuitable for people under the age of 18. Proceed with caution and discretion.</p>
{% endblock %}

