{% extends "base.html" %}
{% block title %}User page{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<h2>{{user}}</h2>
<hr>
<h3>Your User Ratings</h3>
<p>Overall: {{ overall }}/5</p>
<p>Entertainment: {{ entertainment }}/5</p>
<p>Writing: {{ writing }}/5</p>
<p>Immersiveness: {{ immersiveness }}/5</p>
<p>Interest: {{ interest }}/5</p>
<hr>
{% if branches %}
<p><strong>Your Branch{{ branches|pluralize:"es" }}</strong>  <i style="font-size: .75em;">(Branch parent id)-(Branch action)-(Branch id)</i></p>
<hr>
<ul>
{% for branch in branches %}
    {% if branch.author == user and branch.id != 1 %} 
        <div id="{{ branch.parent.id }}-{{ branch.action }}" style="position: relative;">
        <form id="editform" action="/edit/" method="get">
        <li><p><a href="../branch/{{ branch.parent.id }}-{{ branch.action }}/">{{ branch }}</a>
        <input type="hidden" name="parent_id" value="{{branch.parent.id}}">
        <input type="hidden" name="action" value="{{branch.action}}">
        <input type="submit" value="Edit"></p>
        </form>
        {% include "voter.html" %}
        <p style="height: 40px;"></p>
        </div>
        </li>
    {% else %}
        <li><p><a href="../branch/{{ branch.parent.id }}-{{ branch.action }}/">{{ branch }}</a></p></li>
    {% endif %}
    <hr>
{% endfor %}
</ul>
{% else %}
<p><strong>You have no Branches</strong></p>
<hr>
{% endif %}
{% else %}
<h2>You don't have an account.</h2>
<hr>
{% endif %}
{% endblock %}

